<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> 
  
  <servlet>
      <servlet-name>AutomobileFetch</servlet-name>
    <servlet-class>servlet.AutomobileFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutomobileFetch</servlet-name>
    <url-pattern>/AutomobileFetch</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>CarModelList</servlet-name>
      <servlet-class>servlet.CarModelList</servlet-class>
     <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarModelList</servlet-name>
    <url-pattern>/CarModelList</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>CarModelList</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
</welcome-file-list>
</web-app>